<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/css/view_logs.css">
    <title>LEDR Reference Data Management</title>
  </head>

  <body>
    <div>
      <div class="container">
        <header>
          <h1>REDMAT Login</h1>
        </header>
        <p class="whitespace"></p>
        <form action="/auth" method="post">
          <table class="login">
            <tbody>
            <tr>
              <td>Username:</td>
              <td><input name="user"></td>
            </tr>
            <tr>
              <td>Password:</td>
              <td><input name="password"></td>
            </tr>
            </tbody>
          </table>
          <p></p>
          <table class="login">
            <tbody>
            <tr>
              <td></td>
              <td><button class="login">Log In</button></td>
            </tr>
            </tbody>
          </table>
        </form>
        <p class="whitespace"></p>
        <footer>LEDR Reference Data Management</footer>
    </div>
  </body>
</html>
