<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="static/css/view_logs.css">
      <title>LEDR Reference Data Management</title>
  </head>
  <body>
  <div class="container">
      <header>
          <h1>ReDMaT Menu</h1>
      </header>
      <nav>
          <ul>
            <form>
                <li><button formaction="/logs" value=>View Load Logs</button></li>
                <li><button formaction="/" value=>Exit</button></li>
             </form>
          </ul>
      </nav>
     <footer>LEDR Reference Data Management</footer>
  </div>
  </body>
</html>