<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="static/css/view_logs.css">
      <title>LEDR Reference Data Management</title>
  </head>
  <body>
  <div class="container">
      <header>
          <h1>ReDMaT Menu</h1>
      </header>
      <nav>
          <ul>
            <form>
                <li><button formaction="/" value=>Exit</button></li>
             </form>
          </ul>
      </nav>
        <article>
           <h2>Current Logs:</h2>
            <div class="container">
                <table class="datatbl">
                    <thead>
                      <tr class="datatbl">
                          {% for heading in headings %}
                        <th class="datatbl">{{ heading }}</th>
                          {% endfor %}
                      </tr>
                    </thead>
                    <tbody>
                        {% for log in logs %}
                        <tr class="datatbl">
                            {% for element in log %}
                            <td class="datatbl">{{ element }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <form action="/logs" method="post">
                    <input type="checkbox" name="order" value="1">Order By Effective Date</input>
                    <input type="checkbox" name="filter" value="1">Filter by File Name</input>
                    <input name="fileName">
                    <button class="login">Submit</button>
                </form>
            </div>
    </article>
     <footer>LEDR Reference Data Management</footer>
  </div>
  </body>
</html>